/* Shadows are intentionally very subtle gradiations. */
.button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: fit-content;
  min-height: 1rem;
  min-width: 2rem;
  margin: 0;
  padding: 0.7rem 1.6rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(#f9fafb)
  );
  background: linear-gradient(to bottom, white, #f9fafb);
  border: 1px solid #c4cdd5;
  -webkit-box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  line-height: 1;
  color: #212b36;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-transition-property: background, border, -webkit-box-shadow;
  transition-property: background, border, -webkit-box-shadow;
  transition-property: background, border, box-shadow;
  transition-property: background, border, box-shadow, -webkit-box-shadow;
  /* -webkit-transition-duration: var(--p-override-none, 200ms); */
  transition-duration: 200ms;
  /* -webkit-transition-timing-function: var( */
  /* --p-override-none, */
  /* cubic-bezier(0.64, 0, 0.35, 1) */
  /* ); */
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f9fafb),
    to(#f4f6f8)
  );
  background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
}

.button:focus {
  /* border-color: #5c6ac4; */
  outline: 0;
  /* -webkit-box-shadow: 0 0 0 1px #5c6ac4; */
  box-shadow: 0 0 0 1px #5c6ac4;
}

.button:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f4f6f8),
    to(#f4f6f8)
  );
  background: linear-gradient(to bottom, #f4f6f8, #edeff1);
  /* -webkit-box-shadow: 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.2); */
  box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.2);
}

.button.disabled {
  -webkit-transition: none;
  transition: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f4f6f8),
    to(#f4f6f8)
  );
  background: linear-gradient(to bottom, #f4f6f8, #f4f6f8);
  color: #919eab;
}

.button.disabled svg {
  fill: #919eab;
}

.textAlignLeft {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.textAlignCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.textAlignRight {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.Icon {
  -webkit-transition: color 200ms cubic-bezier(0.64, 0, 0.35, 1);
  transition: color 200ms cubic-bezier(0.64, 0, 0.35, 1);
}

.Icon:first-child {
  margin-left: -0.4rem;
}

.Icon:last-child {
  margin-right: -0.8rem;
  margin-left: 0.4rem;
}

.Icon + *:not(.Icon) {
  margin-left: 0.4rem;
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.primary {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6371c7),
    to(#5563c1)
  );
  background: linear-gradient(to bottom, #6371c7, #5563c1);
  border-color: #3f4eae;
  -webkit-box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 0 transparent;
  box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 0 transparent;
  color: white;
}

.primary:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5c6ac4),
    to(#4959bd)
  );
  background: linear-gradient(to bottom, #5c6ac4, #4959bd);
  border-color: #3f4eae;
  color: white;
  text-decoration: none;
}

.primary:focus {
  border-color: #202e78;
  -webkit-box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 1px #202e78;
  box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 1px #202e78;
}

.primary:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3f4eae),
    to(#3f4eae)
  );
  background: linear-gradient(to bottom, #3f4eae, #3f4eae);
  border-color: #38469b;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 1px 0 #38469b;
  box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 1px 0 #38469b;
}

.primary.disabled {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bac0e6),
    to(#bac0e6)
  );
  background: linear-gradient(to bottom, #bac0e6, #bac0e6);
  border-color: #a7aedf;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}

.primary.disabled svg {
  fill: white;
}

.primary.pressed {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3f4eae),
    to(#3f4eae)
  );
  background: linear-gradient(to bottom, #3f4eae, #3f4eae);
  border-color: #10173c;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #10173c;
  box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #10173c;
}

.primary.pressed:focus,
.primary.pressed:hover {
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3c4ba7),
    to(#3c4ba7)
  );
  background: linear-gradient(to bottom, #3c4ba7, #3c4ba7);
  border-color: #10173c;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #10173c;
  box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #10173c;
}

.primary.pressed:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3f4eae),
    to(#3f4eae)
  );
  background: linear-gradient(to bottom, #3f4eae, #3f4eae);
  border-color: #10173c;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #0b0f27;
  box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #0b0f27;
}

.destructive {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e6391a),
    to(#d53417)
  );
  background: linear-gradient(to bottom, #e6391a, #d53417);
  border-color: #b02b13;
  -webkit-box-shadow: inset 0 1px 0 0 #e73d1f, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 0 transparent;
  box-shadow: inset 0 1px 0 0 #e73d1f, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 0 transparent;
  color: white;
}

.destructive:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#de3618),
    to(#c73016)
  );
  background: linear-gradient(to bottom, #de3618, #c73016);
  border-color: #b02b13;
  color: white;
  text-decoration: none;
}

.destructive:focus {
  border-color: #bf0711;
  -webkit-box-shadow: inset 0 1px 0 0 #e84528, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 1px #bf0711;
  box-shadow: inset 0 1px 0 0 #e84528, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 1px #bf0711;
}

.destructive:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#b02b13),
    to(#b02b13)
  );
  background: linear-gradient(to bottom, #b02b13, #b02b13);
  border-color: #992511;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 1px 0 #992511;
  box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 1px 0 #992511;
}

.destructive.disabled {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f29484),
    to(#f29484)
  );
  background: linear-gradient(to bottom, #f29484, #f29484);
  border-color: #ef816d;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}

.destructive.disabled svg {
  fill: white;
}

.destructive.pressed {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#b02b13),
    to(#b02b13)
  );
  background: linear-gradient(to bottom, #b02b13, #b02b13);
  border-color: #75040a;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #75040a;
  box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #75040a;
}

.destructive.pressed:focus,
.destructive.pressed:hover {
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a72912),
    to(#a72912)
  );
  background: linear-gradient(to bottom, #a72912, #a72912);
  border-color: #75040a;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #75040a;
  box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #75040a;
}

.destructive.pressed:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#b02b13),
    to(#b02b13)
  );
  background: linear-gradient(to bottom, #b02b13, #b02b13);
  border-color: #75040a;
  -webkit-box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #5d0308;
  box-shadow: inset 0 0 0 0 transparent,
    inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0 #5d0308;
}

.outline {
  background: transparent;
  border-color: rgba(99, 115, 129, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #374047;
}

.outline svg {
  fill: #374047;
}

.outline:hover {
  background: rgba(99, 115, 129, 0.05);
  border-color: rgba(99, 115, 129, 0.4);
}

.outline:focus {
  border-color: rgba(99, 115, 129, 0.8);
  -webkit-box-shadow: 0 0 0 1px rgba(99, 115, 129, 0.8);
  box-shadow: 0 0 0 1px rgba(99, 115, 129, 0.8);
}

.outline:active {
  background: rgba(99, 115, 129, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.outline.disabled {
  background: transparent;
  border-color: rgba(99, 115, 129, 0.25);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #919eab;
}

.outline.disabled svg {
  fill: #919eab;
}

.destructive.outline {
  background: transparent;
  border-color: rgba(222, 54, 24, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #82200e;
}

.destructive.outline svg {
  fill: #82200e;
}

.destructive.outline:hover {
  background: rgba(222, 54, 24, 0.05);
  border-color: rgba(222, 54, 24, 0.4);
}

.destructive.outline:focus {
  border-color: rgba(222, 54, 24, 0.8);
  -webkit-box-shadow: 0 0 0 1px rgba(222, 54, 24, 0.8);
  box-shadow: 0 0 0 1px rgba(222, 54, 24, 0.8);
}

.destructive.outline:active {
  background: rgba(222, 54, 24, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.destructive.outline.pressed {
  background: rgba(191, 7, 17, 0.03);
  border-color: rgba(191, 7, 17, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #5d0308;
}

.destructive.outline.pressed svg {
  fill: #5d0308;
}

.destructive.outline.pressed:hover {
  background: rgba(191, 7, 17, 0.05);
  border-color: rgba(191, 7, 17, 0.4);
}

.destructive.outline.pressed:focus {
  border-color: rgba(191, 7, 17, 0.8);
  -webkit-box-shadow: 0 0 0 1px rgba(191, 7, 17, 0.8);
  box-shadow: 0 0 0 1px rgba(191, 7, 17, 0.8);
}

.destructive.outline.pressed:active {
  background: rgba(191, 7, 17, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.destructive.outline.pressed svg {
  fill: #330101;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  -webkit-transition: border-color 200ms cubic-bezier(0.64, 0, 0.35, 1);
  transition: border-color 200ms cubic-bezier(0.64, 0, 0.35, 1);
}

.loading,
.loading:hover,
.loading.disabled {
  color: transparent;
}

.pressed {
  background: #dfe3e8;
  border-color: #b8c3cd;
  -webkit-box-shadow: 0 0 0 1px transparent,
    inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
  box-shadow: 0 0 0 1px transparent, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
}

.pressed:hover {
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  background: #d9dee4;
  border-color: #b8c3cd;
  -webkit-box-shadow: 0 0 0 1px transparent,
    inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
  box-shadow: 0 0 0 1px transparent, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
}

.pressed:focus {
  border-color: #5c6ac4;
  -webkit-box-shadow: 0 0 0 1px #5c6ac4,
    inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
  box-shadow: 0 0 0 1px #5c6ac4, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
}

.pressed:active {
  background: #d3d9df;
  border-color: #b8c3cd;
  -webkit-box-shadow: 0 0 0 1px transparent,
    inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
  box-shadow: 0 0 0 1px transparent, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.1);
}

@media (-ms-high-contrast: active) {
  .pressed {
    color: buttonText;
    background: buttonFace;
  }
}

.plain {
  margin: -0.7rem -0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #006fbb;
}

.plain svg {
  fill: #006fbb;
}

.plain.pressed,
.plain:hover,
.plain:focus,
.plain:active {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #084e8a;
  text-decoration: underline;
}

.plain.pressed svg,
.plain:hover svg,
.plain:focus svg,
.plain:active svg {
  fill: #084e8a;
}

@media (-ms-high-contrast: active) {
  .plain.pressed,
  .plain:focus {
    outline: none;
  }
}

.plain.fullWidth {
  margin-left: 0;
  margin-right: 0;
}

.plain.destructive {
  color: var(--p-action-critical, #bf0711);
}

.plain.destructive:focus,
.plain.destructive:active {
  color: var(--p-action-critical-pressed, #330101);
}

.plain.disabled {
  background: none;
}

.plain.sizeSlim {
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;
}

.plain.sizeLarge {
  margin: -1.1rem -2rem;
}

.plain.iconOnly {
  margin: -0.8rem;
}

.plain.iconOnly svg {
  fill: #637381;
}

.plain.iconOnly:focus,
.plain.iconOnly:active {
  background: rgba(33, 43, 54, 0.1);
}

.plain.iconOnly:focus svg,
.plain.iconOnly:active svg {
  fill: #637381;
}

.plain.iconOnly:hover svg,
.plain.iconOnly:active svg {
  fill: #212b36;
}

.plain.iconOnly.disabled svg {
  fill: #c4cdd5;
}

.plain .Icon {
  margin-left: 0;
  margin-right: 0;
}

.sizeSlim {
  min-height: 3rem;
  padding: 0.4rem 1.2rem;
}

.sizeLarge {
  min-height: 4.4rem;
  min-width: 4.4rem;
  padding: 1.1rem 2.4rem;
}

.fullWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.iconOnly {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.iconOnly.sizeLarge {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.iconOnly .Icon:first-child {
  margin-left: 0;
}

.iconOnly .Icon:last-child {
  margin-right: -0.4rem;
}

.iconOnly .Icon + .Icon:last-child {
  margin-left: 0;
}

.iconOnly .Icon:only-child {
  margin-right: 0;
}

.monochrome.outline,
.monochrome.plain {
  color: currentColor;
}

.monochrome.outline svg,
.monochrome.plain svg {
  fill: currentColor;
}

.monochrome.outline:hover,
.monochrome.outline:focus,
.monochrome.outline:active,
.monochrome.plain:hover,
.monochrome.plain:focus,
.monochrome.plain:active {
  color: currentColor;
}

.monochrome.outline:hover svg,
.monochrome.outline:focus svg,
.monochrome.outline:active svg,
.monochrome.plain:hover svg,
.monochrome.plain:focus svg,
.monochrome.plain:active svg {
  fill: currentColor;
}

.monochrome.outline.disabled,
.monochrome.plain.disabled {
  color: currentColor;
  opacity: 0.4;
}

.monochrome.outline.disabled svg,
.monochrome.plain.disabled svg {
  fill: currentColor;
}

.monochrome.outline.iconOnly svg,
.monochrome.plain.iconOnly svg {
  fill: currentColor;
}

.monochrome.outline.iconOnly:focus svg,
.monochrome.outline.iconOnly:active svg,
.monochrome.plain.iconOnly:focus svg,
.monochrome.plain.iconOnly:active svg {
  fill: currentColor;
}

.monochrome.outline.iconOnly.disabled svg,
.monochrome.plain.iconOnly.disabled svg {
  fill: currentColor;
}

.monochrome.plain .Text {
  text-decoration: underline;
}

.monochrome.outline {
  position: relative;
  border-color: currentColor;
}

.monochrome.outline::before {
  content: '';
  -webkit-transition: opacity 200ms cubic-bezier(0.64, 0, 0.35, 1);
  transition: opacity 200ms cubic-bezier(0.64, 0, 0.35, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0;
  z-index: 0;
}

.monochrome.outline.pressed {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.monochrome.outline.pressed::before {
  opacity: 0.05;
}

.monochrome.outline:hover,
.monochrome.outline:focus,
.monochrome.outline:active {
  background-color: transparent;
  border-color: currentColor;
}

.monochrome.outline:hover::before,
.monochrome.outline:focus::before,
.monochrome.outline:active::before {
  opacity: 0.07;
}

.monochrome.outline:focus {
  -webkit-box-shadow: 0 0 0 1px currentColor;
  box-shadow: 0 0 0 1px currentColor;
}

.DisclosureIcon {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.42, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.42, 1);
}

.DisclosureIconFacingUp {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
